/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: seashell;
  color: green; 
}

h1 {
  font-family: verdana, arial, sans-serif; 
}

button {
  padding: 25px;
  border-radius: 50px;
}

#gameButtonArea > button {
  width:200px;
  height:200px;
  margin:2px;
}

.hidden {
  display: none;
}

#button1 {
    background: orange;
}

#button1:active, #button1.lit{
    background: chocolate
}

#button2 {
    background: lightgreen;
}

#button2:active, #button2.lit{
    background: green
}

#button3 {
    background: skyblue;
}

#button3:active, #button3.lit{
    background: blue
}

#button4 {
    background: yellow;
}

#button4:active, #button4.lit{
    background: lightyellow
}
